body {
    height: 100vh;
    background: radial-gradient(circle, rgba(143, 252, 239, 0.7) 0%, rgba(178,0,226,1) 38%, rgba(43,0,62,1) 100%);
}

body.dark {
  height: 100vh;
  background: radial-gradient(circle, rgba(255, 0, 0, 0.7) 0%, rgb(77, 0, 0) 38%, rgb(0, 0, 0) 100%);
}

.icon-btn {
    font-family: Material Icons;
}

.button {
    width: 75px;
    height: 75px;
    margin: 0 0 10px 0;
    color: plum;
    font-size: 30px;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    border: 1 solid plum;
}

.button.icon-btn.cancel-btn {
  color:purple;
  width: 36px;
  height: 36px;
  padding: 0 0 0 0;
}

.triangle {
  background-image: url('../../assets/triangle.png');
  width: 400px;
  height: 400px;
}

.pent {
  background-image: url('../../assets/pent.png');
  width: 375px;
  height: 375px;
}


.button.replay {
  width: 50px!important;
  height: 50px!important;
  font-size: 1vw!important;
}

.arena2,
.arena3 {
  display: flex;
  justify-content: space-around;
  margin-top: 13vh;

  height: 120px;
}



.choice-3,
.choice-5 {
  position: relative;
  margin-top: 5vh;
}

.menu-wrapper {
  text-align: center;
}

.menu-txt {
    color: plum;
    font-size: 30px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.button.new-game-btn {
  font-size: 21px;
}


.points-3 {
 background-image: url('../../assets/3-points.png');
 background-repeat: no-repeat;
 background-position: center;
}

.points-5 {
  background-image: url('../../assets/5-points.png');
  background-repeat: no-repeat;
  background-position: center;
 }

.header {
    height: 6vw;
}

.main {
    display: flex;
    justify-content: space-around;
}

.score-wrapper {
width: 30vw;
margin: 0 auto;
border: 1px solid white;
}

.score-player {
    display: flex;
    justify-content: space-around;
    color: plum;
    font-size: 30px;
}

.rock,
.scissors,
.papper,
.lizard,
.spock {
    position: absolute;
}

.rock.arena,
.scissors.arena,
.papper.arena,
.lizard.arena,
.spock.arena {
    position: relative;
    border-radius: 50%;
}

.ch-3:hover, .ch-5:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.rock {
  background-image: url('../../assets/rock.png');
  height: 120px;
  width: 120px;
}

.scissors {
  background-image: url('../../assets/scissors.png');
  height: 120px;
  width: 120px;
}

.papper {
  background-image: url('../../assets/papper.png');
  height: 120px;
  width: 120px;
}

.lizard {
  background-image: url('../../assets/lizard.png');
  height: 120px;
  width: 120px;
}

.spock {
  background-image: url('../../assets/spock.png');
  height: 120px;
  width: 120px;
}

.dark .rock {
  background-image: url('../../assets/rock_dark.png');
 }

 .dark .scissors {
  background-image: url('../../assets/scissors_dark.png');

}

.dark .papper {
  background-image: url('../../assets/papper_dark.png');

}

.dark .lizard {
  background-image: url('../../assets/lizard_dark.png');

}

.dark .spock {
  background-image: url('../../assets/spock_dark.png');

}


.rock.ch-3 {
    top: 0;
    left: 138px;
}

.scissors.ch-3 {
    top: 289px;
    left: -24px;
}

.papper.ch-3 {
    top: 289px;
    left: 300px;
}

.rock.ch-5 {
  top: 0;
  left: 138px;
}

.scissors.ch-5 {
  top: 289px;
  left: 240px;
}

.papper.ch-5 {
  top: 105px;
  left: 300px;
}

.lizard.ch-5 {
    top: 289px;
    left: 30px;
}

.spock.ch-5 {
    top: 105px;
    left: -12px;
}


.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    margin: 50vh auto 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .switch_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 200px;
    min-width: 200px;
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }


  .rules {
    position: absolute;
    background-color: plum;
    font-size: 20px;
    border-radius: 20px;
  }



  .toggle_switch{
    width: 100px;
    height: 45px;
    position: relative;
  }

  input[type="checkbox"].switch_3{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: 0;
    z-index: 1;
  }

  svg.checkbox .outer-ring{
    stroke-dasharray: 375;
    stroke-dashoffset: 375;
    -webkit-animation: resetRing .35s ease-in-out forwards;
            animation: resetRing .35s ease-in-out forwards;
  }

  input[type="checkbox"].switch_3:checked + svg.checkbox .outer-ring{
    -webkit-animation: animateRing .35s ease-in-out forwards;
            animation: animateRing .35s ease-in-out forwards;
  }

  input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked{
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }

  input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked{
    opacity: 0;
    -webkit-transform: translateX(-200%) rotate(180deg);
            transform: translateX(-200%) rotate(180deg);
  }

  .pulse {
    animation: pulse 2s infinite;
    transition: 0.2s linear;
  }

  svg.checkbox{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  svg.checkbox .is_checked{
    opacity: 0;
    fill: #fff;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateX(200%) rotate(45deg);
            transform: translateX(200%) rotate(45deg);
    -webkit-transition: all .35s;
    transition: all .35s;
  }

  svg.checkbox .is_unchecked{
    opacity: 1;
    fill: yellow;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-transition: all .35s;
    transition: all .35s;
  }

  @-webkit-keyframes animateRing{
    to{
      stroke-dashoffset: 0;
      stroke: #233043;
    }
  }

  @keyframes animateRing{
    to{
      stroke-dashoffset: 0;
      stroke: #233043;
    }
  }

  @-webkit-keyframes resetRing{
    to{
      stroke-dashoffset: 0;
      stroke: #b0aa28;
    }
  }

  @keyframes resetRing{
    to{
      stroke-dashoffset: 0;
      stroke: #b0aa28;
    }
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(238, 255, 0, 0.6);
    }

    50% {
      box-shadow: 0 0 0 20px rgba(204, 169, 44, 0.1);
      transform: scale(1.2);
    }

    70% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }

  /* Switch 3 Specific Style End */


  @media screen and (max-width: 700px) {
    .main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .choice-3 {
      margin: 0 auto;


    }

    .choice-5 {

    }


  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #54005fad;
    border-top: 1px #020202 solid;
    box-shadow: 0px 0px 16px #ab3434;
    z-index: 2;
  }

  .footer .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 30px;
  }

  .footer__inner {
    color: white;
    font-size: 21px;
    font-family: cursive;
  }

  .footer .social-list {
    display: flex;
    transition: all 0.3s;
  }

  .footer .social-list__item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .footer .social-list__item:hover {
    transition: all 0.3s;
    transform: scale(1.1);
  }

  .footer .social-list__item .rsschool-logo {
    width: 72px;
  }

  .footer .social-list__item-img {
    width: 40px;
  }

.statistic-wrapper {
  position: absolute;
  background-color: plum;
  z-index: 10;
  width: 50vw;
  border-radius: 20px;
  box-shadow: 7px 7px 31px 0px rgba(0,0,0,0.82);


}